.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
#nav-list a{
  background: #FDFDFD;
}
#nav-list a:hover {
  background: #E7E7E7;
}

h1 {
  margin-top: 200px;
}

#chicken {
  background: #FFFF66;
  margin: 5px;
}

#beef {
  background: #66FFFF;
margin: 5px;
}

#sushi {
  background: #FF66FF;
  margin:5px;
}

.anchor{
  display: block;
  height: 200px; /*same height as header*/
  margin-top: -200px; /*same height as header*/
  visibility: hidden;
}

p {
  margin-left:10px;
  margin-right:10px;
}
